/* App Container */
.app {
  font-family: Arial, sans-serif;
}

/* Navbar */
.navbar {
  background-color: #333;
  color: #fff;
  padding: 1rem 0;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right;
}

.navbar ul li {
  display: inline-block;
  margin-right: 1rem;
}

.navbar ul li:last-child {
  margin-right: 0;
}

.navbar ul li a {
  color: #fff;
  text-decoration: none;
}

/* Hero Section */
.hero {
  background-image: url('/src/Measuring-a-woman’s-pain—do-they-have-a-higher-pain-threshold_P_Hero.jpg');
  background-size: cover;
  color: #fff;
  padding: 4rem 0;
}

.hero-content {
  text-align: center;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero-content p {
  font-size: 1.5rem;
}

/* Main Section */
.main {
  background-color: #f8f9fa;
  padding: 8rem 0;
}

.main h2 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.main p {
  font-size: 1.2rem;
  text-align: center;
}

/* Footer */
.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
}

.footer p {
  margin: 0;
}

.footer p a {
  color: #fff;
  text-decoration: none;
}
