/* App Container */
.app {
  font-family: Arial, sans-serif;
}

/* Navbar */
.navbar {
  background-color: #333;
  color: #fff;
  padding: 1rem 0;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right;
}

.navbar ul li {
  display: inline-block;
  margin-right: 1rem;
}

.navbar ul li:last-child {
  margin-right: 0;
}

.navbar ul li a {
  color: #fff;
  text-decoration: none;
}

/* Hero Section */
.hero {
<<<<<<< HEAD
  background-image: url('/hero1.jpg');
=======
  background-image: url('/src/Measuring-a-woman’s-pain—do-they-have-a-higher-pain-threshold_P_Hero.jpg');
>>>>>>> 5e492b100de1eeda724469a96b9cca8248091eb1
  background-size: cover;
  color: #fff;
  padding: 4rem 0;
}

.hero-content {
  text-align: center;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero-content p {
  font-size: 1.5rem;
}

/* Main Section */
.main {
  background-color: #f8f9fa;
  padding: 8rem 0;
}

.main h2 {
  font-size: 2rem;
  text-align: center;
}

.main p {
  font-size: 1.2rem;
  text-align: center;
}

/* Footer */
.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
}

.footer p {
  margin: 0;
}

.footer p a {
  color: #fff;
  text-decoration: none;
}

.email-subscription {
  background-color: #f8f9fa;
  padding: 6rem 0;
  text-align: center;
}

.email-subscription h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.subscription-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subscription-form input {
  padding: 0.5rem;
  margin-right: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.subscription-form button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}

.subscription-form button:hover {
  background-color: #0056b3;
}
